<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405150164170-0402fjbj49ngiijkufteegb1sp44g06r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405150164170-0402fjbj49ngiijkufteegb1sp44g06r</string>
	<key>API_KEY</key>
	<string>AIzaSyB0O3xLMPGKBcYGfJ_ClHew4Zl0d-M1Hbc</string>
	<key>GCM_SENDER_ID</key>
	<string>405150164170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebib</string>
	<key>PROJECT_ID</key>
	<string>e-bib-5d3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>e-bib-5d3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405150164170:ios:2a75fe62971276a56f4033</string>
</dict>
</plist>